.card-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .example-card {
    width: 25%;
    margin-right: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .example-card mat-card-title {
    text-align: center;
    margin-bottom: 0;
    width: 100%;
    font-weight: bolder;
  }
  
.large-icon {
    padding: 4px;
    font-size: 90px;
    width: 100px;
    height: 100px;
  }
  
  .active {
    color: red;
  }

  .not-active {
    color: gray;
  }
  
  .mat-expansion-panel-header {
    padding: 16px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
  }

.keypad-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .keypad {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-right: 50px;
  }
  
  .key-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .key {
    width: 50px;
    height: 50px;
    background-color: #dcdcdc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5px;
  }
  
  .key:hover {
    background-color: #9e9e9e;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
  }
  
  .passcode-input {
    display: flex;
  }
  
  .digit {
    width: 30px;
    height: 40px;
    background-color: #dcdcdc;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttons {
    margin-top: 10px;
  }
  
  button {
    margin-right: 10px;
  }

  .clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .clock-input {
    display: flex;
    align-items: center;
  }
  
  .input-container {
    display: flex;
    align-items: center;
  }
  
  input {
    width: 30px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin: 0 5px;
  }
  
  span {
    font-size: 20px;
    margin: 0 5px;
  }
  
  .buttons {
    margin-top: 10px; 
  }
  

