<div style="text-align: center;">
  <h1 style="font-size: xx-large; font-weight: bold;">PI2</h1>
</div>

<div>  
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            DS2
            <mat-icon>radio_button_checked</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <div class="card-container">
          <mat-card class="current-info">
            <mat-card-header>
              <mat-card-title>Current info</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p><i>Name: </i> <b>{{ds2.name}}</b></p>
              <p><i>Runs on: </i> <b>{{ds2.pi}}</b></p>
              <p><i>Simulated: </i> <b>{{ds2.simulated}}</b></p>
              <p><i>Door unlocked: </i> <b>{{ds2.door_unlocked}}</b></p>
            </mat-card-content>
          </mat-card>
    
          <mat-card class="history">
            <mat-card-header>
              <mat-card-title>History</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <iframe src="http://localhost:3000/d-solo/f49a4897-ab0b-4f5a-aee3-b60db1f61fe5/dht?orgId=1&from=1706028553795&to=1706050153795&panelId=1" width="450" height="200" frameborder="0"></iframe>
            </mat-card-content>
          </mat-card>
        </div>
    
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              DUS2
              <mat-icon>door_front</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <div class="card-container">
            <mat-card class="current-info">
              <mat-card-header>
                <mat-card-title>Current info</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><i>Name: </i> <b>{{dus2.name}}</b></p>
                <p><i>Runs on: </i> <b>{{dus2.pi}}</b></p>
                <p><i>Simulated: </i> <b>{{dus2.simulated}}</b></p>
                <p><i>Distance: </i> <b>{{dus2.distance}}</b></p>
              </mat-card-content>
            </mat-card>
      
            <mat-card class="history">
              <mat-card-header>
                <mat-card-title>History</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <iframe src="http://localhost:3000/d-solo/f49a4897-ab0b-4f5a-aee3-b60db1f61fe5/dht?orgId=1&from=1706028553795&to=1706050153795&panelId=1" width="450" height="200" frameborder="0"></iframe>
              </mat-card-content>
            </mat-card>
          </div>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              DPIR2
              <mat-icon>directions_walk</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <div class="card-container">
            <mat-card class="current-info">
              <mat-card-header>
                <mat-card-title>Current info</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><i>Name: </i> <b>{{dpir2.name}}</b></p>
                <p><i>Runs on: </i> <b>{{dpir2.pi}}</b></p>
                <p><i>Simulated: </i> <b>{{dpir2.simulated}}</b></p>
                <p><i>Motion detected: </i> <b>{{dpir2.motion_detected}}</b></p>
              </mat-card-content>
            </mat-card>
      
            <mat-card class="history">
              <mat-card-header>
                <mat-card-title>History</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <iframe src="http://localhost:3000/d-solo/f49a4897-ab0b-4f5a-aee3-b60db1f61fe5/dht?orgId=1&from=1706028553795&to=1706050153795&panelId=1" width="450" height="200" frameborder="0"></iframe>
              </mat-card-content>
            </mat-card>
          </div>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              GDHT
              <mat-icon>thermostat</mat-icon>
              <mat-icon>opacity</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <div class="card-container">
            <mat-card class="current-info">
              <mat-card-header>
                <mat-card-title>Current info</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><i>Name: </i> <b>{{gdht.name}}</b></p>
                <p><i>Runs on: </i> <b>{{gdht.pi}}</b></p>
                <p><i>Simulated: </i> <b>{{gdht.simulated}}</b></p>
                <p><i>Humidity: </i> <b>{{gdht.humidity}}</b></p>
                <p><i>Temperature: </i> <b>{{gdht.temperature}} °C</b></p>
              </mat-card-content>
            </mat-card>
      
            <mat-card class="history">
              <mat-card-header>
                <mat-card-title>History</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <iframe src="http://localhost:3000/d-solo/f49a4897-ab0b-4f5a-aee3-b60db1f61fe5/dht?orgId=1&from=1706028553795&to=1706050153795&panelId=1" width="450" height="200" frameborder="0"></iframe>
              </mat-card-content>
            </mat-card>
          </div>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              GLCD
              <mat-icon>tv</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <div class="card-container">
            <mat-card class="current-info">
              <mat-card-header>
                <mat-card-title>Current info</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><i>Name: </i> <b>{{glcd.name}}</b></p>
                <p><i>Runs on: </i> <b>{{glcd.pi}}</b></p>
                <p><i>Simulated: </i> <b>{{glcd.simulated}}</b></p>
                <p><i>Display: </i> <b>{{glcd.display}}</b></p>
              </mat-card-content>
            </mat-card>
      
            <mat-card class="history">
              <mat-card-header>
                <mat-card-title>History</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <iframe src="http://localhost:3000/d-solo/f49a4897-ab0b-4f5a-aee3-b60db1f61fe5/dht?orgId=1&from=1706028553795&to=1706050153795&panelId=1" width="450" height="200" frameborder="0"></iframe>
              </mat-card-content>
            </mat-card>
          </div>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              GSG
              <mat-icon>rotate_90_degrees_ccw</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <div class="card-container">
            <mat-card class="current-info">
              <mat-card-header>
                <mat-card-title>Current info</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><i>Name: </i> <b>{{gsg.name}}</b></p>
                <p><i>Runs on: </i> <b>{{gsg.pi}}</b></p>
                <p><i>Simulated: </i> <b>{{gsg.simulated}}</b></p>
                <p><i>Rotation: </i> <b>{{gsg.rotation}}</b></p>
                <p><i>Acceleration: </i> <b>{{gsg.acceleration}}</b></p>
              </mat-card-content>
            </mat-card>
      
            <mat-card class="history">
              <mat-card-header>
                <mat-card-title>History</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <iframe src="http://localhost:3000/d-solo/f49a4897-ab0b-4f5a-aee3-b60db1f61fe5/dht?orgId=1&from=1706028553795&to=1706050153795&panelId=1" width="450" height="200" frameborder="0"></iframe>
              </mat-card-content>
            </mat-card>
          </div>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              RPIR3
              <mat-icon>directions_walk</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <div class="card-container">
            <mat-card class="current-info">
              <mat-card-header>
                <mat-card-title>Current info</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><i>Name: </i> <b>{{rpir3.name}}</b></p>
                <p><i>Runs on: </i> <b>{{rpir3.pi}}</b></p>
                <p><i>Simulated: </i> <b>{{rpir3.simulated}}</b></p>
                <p><i>Motion detected: </i> <b>{{rpir3.motion_detected}}</b></p>
              </mat-card-content>
            </mat-card>
      
            <mat-card class="history">
              <mat-card-header>
                <mat-card-title>History</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <iframe src="http://localhost:3000/d-solo/f49a4897-ab0b-4f5a-aee3-b60db1f61fe5/dht?orgId=1&from=1706028553795&to=1706050153795&panelId=1" width="450" height="200" frameborder="0"></iframe>
              </mat-card-content>
            </mat-card>
          </div>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              RDHT3
              <mat-icon>thermostat</mat-icon>
              <mat-icon>opacity</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <div class="card-container">
            <mat-card class="current-info">
              <mat-card-header>
                <mat-card-title>Current info</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><i>Name: </i> <b>{{rdht3.name}}</b></p>
                <p><i>Runs on: </i> <b>{{rdht3.pi}}</b></p>
                <p><i>Simulated: </i> <b>{{rdht3.simulated}}</b></p>
                <p><i>Humidity: </i> <b>{{rdht3.humidity}}</b></p>
                <p><i>Temperature: </i> <b>{{rdht3.temperature}} °C</b></p>
              </mat-card-content>
            </mat-card>
      
            <mat-card class="history">
              <mat-card-header>
                <mat-card-title>History</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <iframe src="http://localhost:3000/d-solo/f49a4897-ab0b-4f5a-aee3-b60db1f61fe5/dht?orgId=1&from=1706028553795&to=1706050153795&panelId=1" width="450" height="200" frameborder="0"></iframe>
              </mat-card-content>
            </mat-card>
          </div>
      
        </mat-expansion-panel>
    </mat-accordion>

</div>