  .mat-expansion-panel-header {
    padding: 16px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
  }

  .card-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .current-info {
    width: 25%;
    margin-right: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .current-info mat-card-content,
  .history mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .current-info mat-card-title, .history mat-card-title {
    text-align: center;
    margin-bottom: 0;
    width: 100%;
    font-weight: bolder;
  }

  .history {
    width: 75%;
    margin-right: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }