<div>  
    
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            DS1
            <mat-icon>radio_button_checked</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
        
          <p>proba</p>
    
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              DL
              <mat-icon>wb_incandescent</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
            <p>proba</p>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              DUS1
              <mat-icon>door_front</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
            <p>proba</p>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              DB
              <mat-icon>volume_up</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
            <p>proba</p>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              DPIR
              <mat-icon>directions_walk</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
            <p>proba</p>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              DMS
              <mat-icon>keyboard</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
            <p>proba</p>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              RPIR1
              <mat-icon>directions_walk</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
            <p>proba</p>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              RPIR2
              <mat-icon>directions_walk</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
            <p>proba</p>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              RDHT1
              <mat-icon>thermostat</mat-icon>
              <mat-icon>opacity</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
            <p>proba</p>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              RDHT2
              <mat-icon>thermostat</mat-icon>
              <mat-icon>opacity</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
            <p>proba</p>
      
        </mat-expansion-panel>
    </mat-accordion>

</div>
    