<div style="text-align: center;">
  <h1 style="font-size: xx-large; font-weight: bold;">PI1</h1>
</div>

<div>  
    
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          DS1
          <mat-icon>radio_button_checked</mat-icon>
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <div class="card-container">
        <mat-card class="current-info">
          <mat-card-header>
            <mat-card-title>Current info</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p><i>Name: </i> <b>{{ds1.name}}</b></p>
            <p><i>Runs on: </i> <b>{{ds1.pi}}</b></p>
            <p><i>Simulated: </i> <b>{{ds1.simulated}}</b></p>
            <p><i>Door unlocked: </i> <b>{{ds1.door_unlocked}}</b></p>
          </mat-card-content>
        </mat-card>
  
        <mat-card class="history">
          <mat-card-header>
            <mat-card-title>History</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <iframe src="http://localhost:3000/d-solo/cac77e0f-7052-4b93-8159-172e2f40fa33/pi1?orgId=1&from=now-3h&to=now&panelId=7" width="600" height="300" frameborder="0"></iframe>
          </mat-card-content>
        </mat-card>
      </div>
  
    </mat-expansion-panel>
  </mat-accordion>
  

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              DL
              <mat-icon>wb_incandescent</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <div class="card-container">
            <mat-card class="current-info">
              <mat-card-header>
                <mat-card-title>Current info</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><i>Name: </i> <b>{{dl.name}}</b></p>
                <p><i>Runs on: </i> <b>{{dl.pi}}</b></p>
                <p><i>Simulated: </i> <b>{{dl.simulated}}</b></p>
                <p><i>Light state: </i> <b>{{dl.light_state}}</b></p>
              </mat-card-content>
            </mat-card>
      
            <mat-card class="history">
              <mat-card-header>
                <mat-card-title>History</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <iframe src="http://localhost:3000/d-solo/cac77e0f-7052-4b93-8159-172e2f40fa33/pi1?orgId=1&from=now-3h&to=now&panelId=8" width="600" height="300" frameborder="0"></iframe>              </mat-card-content>
            </mat-card>
          </div>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              DUS1
              <mat-icon>door_front</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <div class="card-container">
            <mat-card class="current-info">
              <mat-card-header>
                <mat-card-title>Current info</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><i>Name: </i> <b>{{dus1.name}}</b></p>
                <p><i>Runs on: </i> <b>{{dus1.pi}}</b></p>
                <p><i>Simulated: </i> <b>{{dus1.simulated}}</b></p>
                <p><i>Distance: </i> <b>{{dus1.distance}}</b></p>
              </mat-card-content>
            </mat-card>
      
            <mat-card class="history">
              <mat-card-header>
                <mat-card-title>History</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <iframe src="http://localhost:3000/d-solo/cac77e0f-7052-4b93-8159-172e2f40fa33/pi1?orgId=1&from=now-3h&to=now&panelId=9" width="600" height="300" frameborder="0"></iframe>
              </mat-card-content>
            </mat-card>
          </div>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              DB
              <mat-icon>volume_up</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <div class="card-container">
            <mat-card class="current-info">
              <mat-card-header>
                <mat-card-title>Current info</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><i>Name: </i> <b>{{db.name}}</b></p>
                <p><i>Runs on: </i> <b>{{db.pi}}</b></p>
                <p><i>Simulated: </i> <b>{{db.simulated}}</b></p>
                <p><i>Pitch: </i> <b>{{db.pitch}}</b></p>
                <p><i>Duration: </i> <b>{{db.duration}}</b></p>
              </mat-card-content>
            </mat-card>
      
            <mat-card class="history">
              <mat-card-header>
                <mat-card-title>History</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <iframe src="http://localhost:3000/d-solo/cac77e0f-7052-4b93-8159-172e2f40fa33/pi1?orgId=1&from=now-3h&to=now&panelId=6" width="600" height="300" frameborder="0"></iframe>
              </mat-card-content>
            </mat-card>
          </div>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              DPIR1
              <mat-icon>directions_walk</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <div class="card-container">
            <mat-card class="current-info">
              <mat-card-header>
                <mat-card-title>Current info</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><i>Name: </i> <b>{{dpir1.name}}</b></p>
                <p><i>Runs on: </i> <b>{{dpir1.pi}}</b></p>
                <p><i>Simulated: </i> <b>{{dpir1.simulated}}</b></p>
                <p><i>Motion detected: </i> <b>{{dpir1.motion_detected}}</b></p>
              </mat-card-content>
            </mat-card>
      
            <mat-card class="history">
              <mat-card-header>
                <mat-card-title>History</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <iframe src="http://localhost:3000/d-solo/cac77e0f-7052-4b93-8159-172e2f40fa33/pi1?orgId=1&from=now-3h&to=now&panelId=3" width="600" height="300" frameborder="0"></iframe>              </mat-card-content>
            </mat-card>
          </div>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              DMS
              <mat-icon>keyboard</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <div class="card-container">
            <mat-card class="current-info">
              <mat-card-header>
                <mat-card-title>Current info</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><i>Name: </i> <b>{{dms.name}}</b></p>
                <p><i>Runs on: </i> <b>{{dms.pi}}</b></p>
                <p><i>Simulated: </i> <b>{{dms.simulated}}</b></p>
                <p><i>Key: </i> <b>{{dms.key}}</b></p>
              </mat-card-content>
            </mat-card>
      
            <mat-card class="history">
              <mat-card-header>
                <mat-card-title>History</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <iframe src="http://localhost:3000/d-solo/cac77e0f-7052-4b93-8159-172e2f40fa33/pi1?orgId=1&from=now-3h&to=now&panelId=10" width="600" height="300" frameborder="0"></iframe>
              </mat-card-content>
            </mat-card>
          </div>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              RPIR1
              <mat-icon>directions_walk</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <div class="card-container">
            <mat-card class="current-info">
              <mat-card-header>
                <mat-card-title>Current info</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><i>Name: </i> <b>{{rpir1.name}}</b></p>
                <p><i>Runs on: </i> <b>{{rpir1.pi}}</b></p>
                <p><i>Simulated: </i> <b>{{rpir1.simulated}}</b></p>
                <p><i>Motion detected: </i> <b>{{rpir1.motion_detected}}</b></p>
              </mat-card-content>
            </mat-card>
      
            <mat-card class="history">
              <mat-card-header>
                <mat-card-title>History</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <iframe src="http://localhost:3000/d-solo/cac77e0f-7052-4b93-8159-172e2f40fa33/pi1?orgId=1&from=now-3h&to=now&panelId=4" width="600" height="300" frameborder="0"></iframe>              
              </mat-card-content>
            </mat-card>
          </div>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              RPIR2
              <mat-icon>directions_walk</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <div class="card-container">
            <mat-card class="current-info">
              <mat-card-header>
                <mat-card-title>Current info</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><i>Name: </i> <b>{{rpir2.name}}</b></p>
                <p><i>Runs on: </i> <b>{{rpir2.pi}}</b></p>
                <p><i>Simulated: </i> <b>{{rpir2.simulated}}</b></p>
                <p><i>Motion detected: </i> <b>{{rpir2.motion_detected}}</b></p>
              </mat-card-content>
            </mat-card>
      
            <mat-card class="history">
              <mat-card-header>
                <mat-card-title>History</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <iframe src="http://localhost:3000/d-solo/cac77e0f-7052-4b93-8159-172e2f40fa33/pi1?orgId=1&from=now-3h&to=now&panelId=5" width="600" height="300" frameborder="0"></iframe>
              </mat-card-content>
            </mat-card>
          </div>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              RDHT1
              <mat-icon>thermostat</mat-icon>
              <mat-icon>opacity</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <div class="card-container">
            <mat-card class="current-info">
              <mat-card-header>
                <mat-card-title>Current info</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><i>Name: </i> <b>{{rdht1.name}}</b></p>
                <p><i>Runs on: </i> <b>{{rdht1.pi}}</b></p>
                <p><i>Simulated: </i> <b>{{rdht1.simulated}}</b></p>
                <p><i>Humidity: </i> <b>{{rdht1.humidity}}</b></p>
                <p><i>Temperature: </i> <b>{{rdht1.temperature}} °C</b></p>
              </mat-card-content>
            </mat-card>
      
            <mat-card class="history">
              <mat-card-header>
                <mat-card-title>History</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <iframe src="http://localhost:3000/d-solo/cac77e0f-7052-4b93-8159-172e2f40fa33/pi1?orgId=1&from=now-3h&to=now&panelId=1" width="600" height="300" frameborder="0"></iframe>              </mat-card-content>
            </mat-card>
          </div>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              RDHT2
              <mat-icon>thermostat</mat-icon>
              <mat-icon>opacity</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <div class="card-container">
            <mat-card class="current-info">
              <mat-card-header>
                <mat-card-title>Current info</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p><i>Name: </i> <b>{{rdht2.name}}</b></p>
                <p><i>Runs on: </i> <b>{{rdht2.pi}}</b></p>
                <p><i>Simulated: </i> <b>{{rdht2.simulated}}</b></p>
                <p><i>Humidity: </i> <b>{{rdht2.humidity}}</b></p>
                <p><i>Temperature: </i> <b>{{rdht2.temperature}} °C</b></p>
              </mat-card-content>
            </mat-card>
      
            <mat-card class="history">
              <mat-card-header>
                <mat-card-title>History</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <iframe src="http://localhost:3000/d-solo/cac77e0f-7052-4b93-8159-172e2f40fa33/pi1?orgId=1&from=now-3h&to=now&panelId=2" width="600" height="300" frameborder="0"></iframe>
              </mat-card-content>
            </mat-card>
          </div>
      
        </mat-expansion-panel>
    </mat-accordion>

</div>
    