<div>  
    
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            RPIR4
            <mat-icon>directions_walk</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
        
          <p>proba</p>
    
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              RDHT4
              <mat-icon>thermostat</mat-icon>
              <mat-icon>opacity</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
            <p>proba</p>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              BB
              <mat-icon>volume_up</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
            <p>proba</p>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              B4SD
              <mat-icon>looks_4</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
            <p>proba</p>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              BIR
              <mat-icon>settings_remote</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
            <p>proba</p>
      
        </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              BRGB
              <mat-icon>palette</mat-icon>
              <mat-icon>highlight</mat-icon>

            </mat-panel-title>
          </mat-expansion-panel-header>
          
            <p>proba</p>
      
        </mat-expansion-panel>
    </mat-accordion>

</div>