<div class="container">
    <h1>Home History</h1>
    <div class="iframe-container">
        <iframe src="http://localhost:3000/d-solo/aa22fab3-9ec5-435e-a2bf-7374e8963b72/home?orgId=1&from=now-3h&to=now&panelId=1" width="800" height="400" frameborder="0"></iframe>
    </div>

    <div class="iframe-container">
        <iframe src="http://localhost:3000/d-solo/aa22fab3-9ec5-435e-a2bf-7374e8963b72/home?orgId=1&from=now-3h&to=now&panelId=2" width="800" height="400" frameborder="0"></iframe>
    </div>
</div>
